* {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #121213;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    max-width: 600px;
    width: 100%;
    gap: 20px;
}

.tile-container {
    width: 100%;
    max-width: 510px;
    margin-bottom: 20px;
}

.tile-container div {
    display: flex;
    justify-content: center;
}

.tile {
    width: 50px;
    height: 50px;
    border: 2px solid #3a3a3c;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2px;
}

.tile.flip {
    animation: 0.5s linear flipping;
}

@keyframes flipping {
    0% {
        transform: rotateX(0deg);
    }

    25% {
        transform: rotateX(90deg);
    }

    50% {
        transform: rotateX(180deg);
    }

    75% {
        transform: rotateX(270deg);
    }

    100% {
        transform: rotateX(360deg);
    }
}

.grey {
    background-color: #3a3a3c !important;
    border: none !important;
}

.yellow {
    background-color: #b59f3a !important;
    border: none !important;
}

.green {
    background-color: #538d4e !important;
    border: none !important;
}

.keyboard {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.row {
    display: flex;
    gap: 10px;
}

.key {
    background-color: #818384;
    border: 1px solid #cccccc;
    border-radius: 5px;
    padding: 15px 0;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease;
    flex: 1;
    user-select: none;
}

.key:hover {
    background-color: #e0e0e0;
    transform: translateY(-2px);
}

.key:active {
    background-color: #d0d0d0;
    transform: translateY(0);
}

.key.wide {
    flex: 2;
}

.key.space {
    flex: 5;
}

.message-container {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

p {
    background-color: #818384;
    border-radius: 10px;
    padding: 10px;
    margin: 0;
}

@media (max-width: 480px) {
    .container {
        padding: 10px;
        gap: 10px;
    }

    .table {
        gap: 5px;
    }

    .keyboard {
        gap: 5px;
    }

    .row {
        gap: 5px;
    }

    .key {
        padding: 10px 0;
    }
}